{% extends 'JAMNotasFrontendBundle:Notas:layout-etiquetas-notas.html.twig' %}

{% block javascripts %}

{{ parent() }}
<script src="{{ asset('bundles/jamnotasfrontend/vendors/jquery/js/jquery-ui-1.8.17.custom.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/jamnotasfrontend/vendors/CLEditor1_3_0/jquery.cleditor.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/jamnotasfrontend/vendors/tagit/js/tag-it.js') }}" type="text/javascript"></script>

<script>
    $(document).ready( function() {
        $("#btn_hecho").click(function(){
            $("#form_nota").submit();
        });
        
        $("#btn_cancelar").click(function(){
            {% if edita %}
            var home = "{{ path('jamn_nota', {'id': nota_seleccionada.id}) }}";
            {% else %}
            var home = "{{ path('jamn_homepage') }}";
            {% endif %}
            window.location = home;            
        });
        
        {% if edita %}
        $("#btn_borrar").click(function(){
            $("#form_borrar").submit();
        });
        {% endif %}
        
        $("#nota_etiquetas").tagit({ 
            availableTags: [{%for etiqueta in etiquetas%} "{{ etiqueta.texto}}", {% endfor %}]                   
        });                            
               
        $("#nota_texto").cleditor({
             controls: "bold italic underline strikethrough subscript superscript | font size " +
                        "style | color highlight removeformat | bullets numbering | outdent " +
                        "indent | alignleft center alignright justify | undo redo | " +
                        "rule image link unlink | print source"
        });
   })

    </script>
{% endblock%}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jamnotasfrontend/vendors/CLEditor1_3_0/jquery.cleditor.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jamnotasfrontend/vendors/tagit/css/jquery.ui.autocomplete.custom.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jamnotasfrontend/vendors/tagit/css/jquery.tagit.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jamnotasfrontend/vendors/jquery/css/ui-lightness/jquery-ui-1.8.17.custom.css') }}" />

{% endblock %}


{% block detalle_y_edicion %}

<div id="confirma-borrado"></div>
<button class="btn btn-primary" id="btn_hecho"><i class="icon-check"></i> hecho</button>
<button class="btn btn-warning" id="btn_cancelar"><i class="icon-ban-circle"></i> cancelar</button>    

{%if edita %}
<button class="btn btn-danger" id="btn_borrar" type="submit"><i class="icon-remove"></i> borrar</button>
<form class="form-horizontal" id="form_borrar" action="{{ path('jamn_borrar', { 'id': nota_seleccionada.id }) }}" method="post">
    {{ form_widget(delete_form) }}
</form>
{% endif %}

{% if edita %}
<form id="form_nota" action="{{ path('jamn_editar', { 'id': nota_seleccionada.id }) }}" method="post" {{ form_enctype(form) }}>
{%else%}
<form id="form_nota" action="{{ path('jamn_nueva') }}" method="post" {{ form_enctype(form) }}>
{% endif %}
        
{% if form_errors(form) %}
{{ form_errors(form) }}
{% endif %}

  <fieldset>
    
    <label>Título:</label>
    {{ form_widget(form.titulo) }}
    {% if form_errors(form.titulo) %}
    {{ form_errors(form.titulo) }}
    {% endif %}
  
    <label>Etiquetas:</label>
    <ul id="nota_etiquetas">
    {%for etiqueta in nota_seleccionada.etiquetas %}
       <li>{{ etiqueta.texto }}</li>
    {% endfor %}
    </ul>

    {% if form_errors(form.texto) %}
    {{ form_errors(form.texto) }}
    {% endif %}
    {{ form_widget(form.texto) }}

    {% if nota_seleccionada.path  %}
    {% set urlFile = asset( nota_seleccionada.webPath(app.user.getUsername) ) %}
         <a href="{{ urlFile }}"><i class="icon-file"></i>{{ nota_seleccionada.path}}</a>
    {% endif %}
    
    {% if is_granted('ROLE_PREMIUM') %}
       <label>Cambiar:</label>
       {% if form_errors(form.file) %}
          {{ form_errors(form.file) }}
       {% endif %}

       {{ form_widget(form.file) }}
    {% endif %}

    {{ form_widget(form._token) }}

  </fieldset>
</form>

{% endblock %}