<div id="confirma-borrado"></div>
<button id="btn_hecho_crear">hecho</button>                              
<a id="btn_cancelar" href="{{ path('jamn_homepage') }}">cancelar</a>                           
<form id="form_crear_nota" action="{{ path('jamn_nueva') }}" method="post" {{ form_enctype(new_form) }}>
{% if form_errors(new_form) %}
<div class="ui-state-error">{{ form_errors(new_form) }}</div>
{% endif %}

<div style="font-size: small">Título:</div>
{% if form_errors(new_form.titulo) %}
<div style="width: 300px;" class="ui-state-error">{{ form_errors(new_form.titulo) }}</div>
{% endif %}

{{ form_widget(new_form.titulo, {'attr': {'class': 'nota-titulo ui-corner-all', 'style': 'width:300px;'} }) }}
<span style="font-size: small">Etiquetas:</span>

<ul id="nota_etiquetas">

</ul>

{% if form_errors(new_form.texto) %}
<div class="ui-state-error">{{ form_errors(new_form.texto) }}</div>
{% endif %}
{{ form_widget(new_form.texto) }}

{% if is_granted('ROLE_PREMIUM') %}
<div style="font-size: small">Cambiar Fichero:</div>
{% if form_errors(new_form.file) %}
<div class="ui-state-error">{{ form_errors(new_form.file) }}</div>
{% endif %}
{{ form_widget(new_form.file) }}
{% endif %}

{{ form_widget(new_form._token) }}
</form>