<div id="confirma-borrado"></div>
<button id="btn_hecho_editar">hecho</button>
<a id="btn_cancelar" href="{{ path('jamn_nota', {'id': nota_seleccionada.id}) }}">cancelar</a>
<button id="btn_borrar" type="submit">Borrar</button>
<form id="form_borrar" action="{{ path('jamn_borrar', { 'id': nota_seleccionada.id }) }}" method="post">
    {{ form_widget(delete_form) }}
</form>
         
<form id="form_editar_nota" action="{{ path('jamn_editar', { 'id': nota_seleccionada.id }) }}" method="post" {{ form_enctype(edit_form) }}>

{% if form_errors(edit_form) %}
<div class="ui-state-error">{{ form_errors(edit_form) }}</div>
{% endif %}

<div style="font-size: small">Título:</div>
{% if form_errors(edit_form.titulo) %}
<div style="width: 300px;" class="ui-state-error">{{ form_errors(edit_form.titulo) }}</div>
{% endif %}

{{ form_widget(edit_form.titulo, {'attr': {'class': 'nota-titulo ui-corner-all', 'style': 'width:300px;'} }) }}

<span style="font-size: small">Etiquetas:</span>
<ul id="nota_etiquetas">
{%for etiqueta in nota_seleccionada.etiquetas %}
   <li>{{ etiqueta.texto }}</li>
{% endfor %}
</ul>

{% if form_errors(edit_form.texto) %}
<div class="ui-state-error">{{ form_errors(edit_form.texto) }}</div>
{% endif %}

{{ form_widget(edit_form.texto) }}

<div style="font-size: small">Fichero:</div>
{% if nota_seleccionada.path  %}
{% set urlFile = asset( nota_seleccionada.webPath(app.user.getUsername) ) %}
<a href="{{ urlFile }}">{{ nota_seleccionada.path}}</a>
{% endif %}
{% if is_granted('ROLE_PREMIUM') %}
<div style="font-size: small">Cambiar Fichero:</div>

{% if form_errors(edit_form.file) %}
<div class="ui-state-error">{{ form_errors(edit_form.file) }}</div>
{% endif %}

{{ form_widget(edit_form.file) }}
{% endif %}

{{ form_widget(edit_form._token) }}
</form>