<div class="span4">
    <div class="well sidebar-nav">

        <ul class="nav nav-list">
            <li class="nav-header">Notas</li>    
            <li>
                <form id="form_buscar" action="{{ path("jamn_buscar") }}" method="post">
                    <input class="buscar ui-corner-all" size="20" name="termino" id="termino"/>
                    <button type=submit" class="btn_buscar"> Buscar</button>
                </form>
            </li>
            <li class="divider"></li>
            {% for nota in notas %}
                
            <li class="{{ nota.selected? 'active' : '' }}">                
              <a href="{{ path('jamn_nota',{"id": nota.id}) }}">
                  <div class="nota-container">
                     <div class="nota-titulo">
                  {{ nota.titulo }}
                     </div>
                     <div class="nota-content">
                        <span class="nota-fecha"> {{ nota.fecha.date }}</span>
                        {{ nota.texto|raw }}
                     </div>
                  </div>
             </a>
           </li>
           <li class="divider"></li>
                {% else %}
                <div class="ui-state-highlight">
                    <span class="ui-icon ui-icon-alert" style="float:left;"></span>
                    <span style="padding: 0.5em;"> No se han encontrado notas</span></div>
            {% endfor %}
                        
           </ul>
         </div><!--/.well -->
      </div><!--/span-->



